@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Plus Jakarta Sans",sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
}
.left{
    display: flex;
    flex-direction: column;
}
.left .heading h1{
    color:hsl(202, 55%, 16%);
}
.heading a{
    text-decoration: underline;
    color:hsl(200, 24%, 40%);
}
.heading{
    margin-bottom: 15px;
}
label{
    color:hsl(200, 24%, 40%);
    font-weight: 500;
    font-size: 14px;
}

.left {
    padding: 20px;
}

.input-group{       
    width: 100%;
}
.inputBox{
    display: flex;
    border:1px solid black;
}
input[type="number"]{
    outline: none;
    border:none;
    width: 100%;
    /* padding: 5px 0; */
    height: 30px;
}
.input-term{
    width: 100%;
}
.input-rate{
    width: 100%;
}
.helperBox, .years, .percentage{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: hsl(202, 86%, 94%);
}
/* .years, .percentage {
    padding-top: 5px;
    
    background-color: hsl(202, 86%, 94%);
} */
.input-term-rate{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputBox, .inputTerm{
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}
.input-group, .input-term, .input-term{
    margin-bottom: 10px;
}
.mortrage-type{
    margin-top: 50px;
}
.inputRadio{
    padding: 10px;
    outline: 1px solid grey;
    border-radius: 5px;
    width: 90%;
    margin-top: 10px;
}
.inputRadio label{
    font-weight: 900;
    color:  hsl(202, 55%, 16%);
}
button{
    margin-top: 10px;
    padding: 10px;
    width: 90%;
    border-radius: 20px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: hsl(61, 70%, 52%);
}
button img{
    margin-right: 5px;
    width: 7%;
}

.right .empty-results{
    padding: 20px;
    background-color: hsl(202, 55%, 16%);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.empty-results h3, .calculated-results h3{
    color: #fff;
}
.empty-results p{
    text-align: center;
    color:hsl(200, 26%, 54%);
}

.right .calculated-results{
    padding: 20px;
    background-color: hsl(202, 55%, 16%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculated-results p{
    color: hsl(200, 26%, 54%);
    margin-bottom: 10px;
}

.calculations{
    background-color: hsl(201, 70%, 8%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 -5px 1px hsl(61, 70%, 52%);
}
.calculations #calculated-first{
    color:  hsl(61, 70%, 52%);
    font-size: 2rem;
}
.calculations #calculated-second{
    color: white;
    font-size: 1rem;
}
input{
    padding-left: 5px;
}
@media screen and (min-width: 500px){
    body{
        background-color: hsl(202, 86%, 94%);
        display: flex;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
    }
    .container{
        width: 800px;
        display: flex;
        background-color: white;
        flex-direction: row;
        border-radius: 10px;
        overflow: hidden;
    }
    .right{
        width: 50%;
    }
    .left{
        width: 50%;
    }
    .left .heading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .heading h1{
        font-size: 13px;
    }
    .heading a{
        font-size: 10px;
    }
    label{
        font-size: 10px;
    }
    .years, .percentage{
        font-size: 13px;
    }
    .input-term-rate{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .input-term{
        width: 50%;
        margin-bottom: 0;
    }
    .input-rate{
        width: 50%;
        margin-bottom: 0;
    }
    .mortrage-type{
        margin-top: 20px;
    }
    button{
        width: 70%;
        margin-top: 20px;
    }
    .right{
        overflow: hidden;
    }
    .right{
        border-bottom-left-radius: 20%;
    }

    .right .empty-results{
        height: 100%;
    }
    .right .empty-results p{
        font-size: 12px;
    }
    .right .calculated-results p{
        font-size: 12px;
    }
    .right .calculated-results{
        height: 100%;
    }
}